{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Adon Melech - Character Overview{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            {% if foundCharacter %}
                <p id="name">{{ name }}</p>
            {% else %}
                <p id="name">No character found</p>
                <input type="button" name="btn-new" value="Create a character">
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}