{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Adon Melech{% endblock %}

{% block content %}
            {% if logged_in %}
                <li role="presentation">
                    <form name="login" action="/login" method="post">
                        <input type="text" name="username" placeholder="username" style="max-width:100px"></text>
                        <input type="text" name="password" placeholder="password" style="max-width:100px"></text>
                        <input type="submit" style="width:0px; height:0px; opacity:0;"/>
                    </form>
                </li>
            {% endif %}

{% endblock %}