{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Adon Melech{% endblock %}

{% block content %}

                <div class="jumbotron">
             {% if logged_in %}
                  <div class="text-center">
                 <h3>Welcome {{ displayname }}!</h3>
             </div>
            {% else %}
                <div class="panel panel-default"></div>
                    <form name="login" action="/login" method="post">
                        <h3>login</h3>
                        <small><p>username <input type="text" name="username" placeholder="username"></text></p>
                        <p>password<input type="text" name="password" placeholder="password"></text></p>
                        <input type="submit"></small>
                    </form>
                </div>
             {% endif %}
                </div>

{% endblock %}