{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Adon Melech{% endblock %}

{% block content %}

                <div class="jumbotron">
             {% if logged_in %}
                  <div class="text-center">
                 <h3>Welcome {{ username }}!</h3>

                      <form name="logout" action="/logout" method="post">
                          <input type="submit" name="logout" value="logout" class="button btn-default">
                      </form>
             </div>
            {% else %}
                <div class="panel panel-default"></div>
                    <form name="login" action="/login" method="post">
                        <h3>login</h3>
                        <small><p>username <input type="text" name="username" placeholder="username"></p>
                        <p>password<input type="text" name="password" placeholder="password"></p>
                        <input type="submit"></small>
                    </form>
                </div>
             {% endif %}
                </div>

{% endblock %}