{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Adon Melech - Create character{% endblock %}

{% block content %}

<form name=character" method="post" action="/character_create">
    <div id="identity">
        Name <input name="name" id="name">
        Culture <select name="culture" id="culture"></select>
        <p id="tribe"></p> <!---- only populate if applicable, based on selected culture ---->
        <p id="portrait"></p>
    </div>
    <div id="stats">
        Hunting <input name="txt-hunting" readonly><input type="button" name="btn-hunting">
        Shrewdness <input name="txt-shrewd" readonly><input type="button" name="btn-shrewd">
        Music <input name="txt-music" readonly><input type="button" name="btn-music">
        Intrigue <input name="txt-intrigue" readonly><input type="button" name="btn-intrigue">
        Purity <input name="txt-purity" readonly><input type="button" name="btn-purity">
        Wisdom <input name="txt-wisdom" readonly><input type="button" name="btn-wisdom">
    </div>
    <div id="allegiance">
        <p id="selected-flag"></p>
        <input type="button" name="Egypt">
        <input type="button" name="Babylon">
        <input type="button" name="Hattusa">
        <input type="button" name="habiru">
    </div>
</form>

{% endblock %}