{% extends 'GameBundle::layout.html.twig' %}

{% block title %}Ancient Trader{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron" style="min-height:80%">
            <div class="panel panel-default" >

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function() {

        });

    </script>

{% endblock %}